@use "../../../styles/variables" as v;

.cards-grid-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-left: 1rem;

  @media (max-width: 464px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
