@use "../../../styles/variables" as v;

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.no-results {
  position: absolute;
  grid-column: 1 / -1;
  text-align: center;
  font-size: v.$large-font-size;
  color: v.$purple-dark;
  font-weight: v.$normal-font-weight;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
