@use "../../../styles/variables" as v;

.btn {
  padding: 0.75rem 1.5rem;
  border: 1px solid v.$purple-main;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background: v.$purple-dark;
  color: v.$purple-light;
  outline: none;
  position: relative;

  &:hover {
    background: v.$purple-main;
    transform: translateY(-2px);
    color: v.$purple-dark;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(0);
  }
}
