$purple-gradient: linear-gradient(135deg, rgb(189, 117, 199), rgb(6, 20, 48));
$purple-light: rgb(216, 204, 218);
$purple-medium: rgba(293, 42%, 62%, 0.2);
$purple-main: rgb(189, 117, 199);
$purple-dark: rgb(116, 66, 123);
$dark-blue: rgb(6, 20, 48);
$yellow-main: rgb(255, 255, 84);

$largest-font-size: 42px;
$large-font-size: 22px;
$medium-font-size: 16px;
$small-font-size: 10px;

$large-font-weight: 600;
$normal-font-weight: 400;
