@use "../../../styles/variables" as v;

.modal-image {
  width: 100%;
  height: 220px;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

h2 {
  color: v.$purple-dark;
  font-size: v.$large-font-size;
}

.rating {
  color: v.$yellow-main;
  font-size: v.$large-font-size;
}

.modal-body {
  overflow-y: auto;

  p {
    margin: 0;
    color: v.$purple-dark;
    font-size: v.$medium-font-size;
  }

  scrollbar-width: thin;
  scrollbar-color: v.$purple-dark transparent;
}
