@use "../../styles/variables" as v;

.card {
  border-radius: 12px;
  background: v.$purple-light;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;

  &:hover {
    transform: translateY(-4px);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  .card-content {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  span {
    color: v.$purple-dark;
    font-size: v.$large-font-size;
    font-weight: v.$large-font-weight;
  }

  .rating {
    color: v.$yellow-main;
    font-size: v.$large-font-size;
  }

  p {
    flex: 1;
    color: v.$purple-dark;
  }
}
