.card {
  border-radius: 8px;
  padding: 1rem;
  max-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
}
