@use "../../styles/variables" as v;

.sort-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sort-toggle {
  background: v.$purple-main;
  border: 1px solid v.$purple-light;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: v.$medium-font-size;
  display: inline-flex;
  align-items: center;
  font-weight: v.$normal-font-weight;

  &.asc {
    background: v.$purple-light;
    color: v.$purple-main;
    border-color: v.$purple-main;
  }

  &.desc {
    background: v.$purple-main;
    color: v.$purple-light;
    border-color: v.$purple-light;
  }
}
